* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(253, 244, 239);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

p {
  padding: 5px 0 5px 0;
}

.container {
  position: relative;

  max-width: 1000px;
  background-color: #fff;
  display: grid;
  grid-template-rows: 0.7fr 0.2fr 3fr;
}

.top-container {
  background-color: rgb(15, 15, 15);
  position: relative;
  padding: 30px;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-gap: 40px;
}

.about-me {
  padding: 25px 15px 0 0;
}
.image {
  border-radius: 75px;
  border: 2px solid rgb(207, 106, 34);
  width: 220px;
  height: 200px;
}

.middle-container {
  background-color: rgb(207, 106, 34);
  position: relative;
  padding: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 60px;
}

.middle-container li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.middle-container span {
  font-weight: bold;
}
.bottom-container {
  background-color: rgb(247, 234, 226);
  position: relative;
  padding: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 60px;
}

li i {
  color: black;
  padding-bottom: 20px;
  padding-right: 20px;
}

li {
  color: rgb(207, 106, 34);
}

li span {
  color: black;
}

h3 {
  text-transform: uppercase;
  color: rgb(207, 106, 34);
  padding-bottom: 10px;
  cursor: pointer;
}

h3:hover {
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(207, 106, 34);
  color: #fff;
  text-align: center;
  padding: 2px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}
.card {
  /* padding-top: 50px; */
  padding-right: 20px;
  padding-bottom: 30px;
}

ul {
  padding-bottom: 20px;
}

.courses {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

em {
  font-size: 14px;
  font-weight: 700;
}

.left-bottom {
  border-right: 3px solid rgb(207, 106, 34);
}

span i {
  color: rgb(207, 106, 34);
}
